<!-- Pasek nawigacyjny z tytułem aplikacji i przyciskiem trybu ciemnego-->
<nav class="navbar navbar-expand-lg navbar-light">
  
  <!--Tytuł aplikacji-->
  <div class="d-flex flex-grow-1 align-items-center">
    
    <!--Linki nawigacyjne-->
    <!--Link do listy roślin-->
      <a class="btn btn-success ms-5 me-2" 
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Lista roślin</a>
    <!--Link do dodawania rośliny-->
      <a class="btn btn-success me-2" 
          routerLink="/dodaj"
          routerLinkActive="active"
          >Dodaj roślinę</a>
    
    <!--Przycisk przełączenia trybu ciemnego-->
      <button class="btn btn-outline-secondary ms-auto" type="button" (click)="toggleDarkTheme()">
        <i class="bi bi-moon-stars"></i>
        {{ isDarkMode ? 'Jasny motyw' : 'Ciemny motyw' }}
      </button>
    
  </div>
</nav>

<div class="container mt-4">
  <h1>{{ title }}</h1>
  <p class="lead">Witaj w Ogrodowym Planerze! To aplikacja, która pomoże Ci zaplanować Twój ogród.</p>
  <br><br><br>
 

<!-- Miejsce wyświetlania komponentów w zależności od trasy routingu -->
<router-outlet></router-outlet>
</div>