<!-- Nagłówek aplikacji -->
<nav class="navbar navbar-expand-lg navbar-light">
  
  <div class="d-flex flex-grow-1 align-items-center">
    
      <a class="btn btn-success ms-5 me-2" 
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Lista roślin</a>
      <a class="btn btn-success me-2" 
          routerLink="/dodaj"
          routerLinkActive="active"
          >Dodaj roślinę</a>
    
      <button class="btn btn-outline-secondary ms-auto" type="button" (click)="toggleTheme()">
        <i class="bi bi-moon-stars"></i>
        {{ isDarkMode ? 'Jasny motyw' : 'Ciemny motyw' }}
      </button>
    
  </div>
</nav>

<div class="container mt-4">
  <h1>{{ title }}</h1>
  <p class="lead">Witaj w Ogrodowym Planerze! To aplikacja, która pomoże Ci zaplanować Twój ogród.</p>
  <br><br><br>
 

<!-- Tu wstawiamy widoki routingu -->
<router-outlet></router-outlet>
</div>